<%= form_with(model: category) do |form| %>
  <div>
      <% @category.errors.full_messages.each do |error| %>
          <%= error %>
      <% end %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
